.coverage
.DS_Store
/.idea
/.tox
docs/build/
/dist
/build
~build
/MANIFEST
*.egg-info
*.pyc
*.log
*.pot
*.pyc
*.egg-info
*.sqlite
.cache
.pycache
coverage.xml
pytest.xml
flake.out
pep8.out
*.xml
.env
.envrc
