include README.md
include CHANGES
include MANIFEST.in
include setup.py
include Makefile
include tox.ini

recursive-include src *
recursive-include requirements *
recursive-include docs *
recursive-include tests *

recursive-exclude hooks *
recursive-exclude datas *

prune hooks
